/* * {
  border: 1px red dashed;
} */

body {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100%;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: linear-gradient(
    180deg,
    #1f005c,
    #5b0060,
    #870160,
    #ac255e,
    #ca485c,
    #f39060,
    #ffb56b
  );
}
.main-container {
  max-width: 640px;
  margin: auto;
}
.image-row {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1000px;
  text-align: center;
  display: block;
  margin: auto;
  object-fit: cover;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.universe-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 1000px;
  font-size: 15px;
  text-align: center;
}
.name-row {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 900;
}
.social-icons-row {
  margin-bottom: 40px;
  display: inline-block;
  display: flex;
  justify-content: space-around;
}
a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  margin: 0 5px;
  justify-content: space-around;
}

.item {
  background-color: rgba(149, 125, 175, 0.5);
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 1000px;
  padding-top: 5px;
  padding: 10px;
  box-shadow: 4px 4px 10px 0px rgba(122, 32, 122, 0.5);
}
.link-text {
  margin: auto;
}
