* {
  border: 1px blue dashed;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100%;
  color: rgba(255, 255, 255, 1.0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(180deg, #1F005c,#5b0060, #870160, #ac255e, #ca485c, #F39060, #FFb56b );
}
a {
  color:rgba(255, 255, 255, 1.0);
  text-decoration: none;
}
/* .item {
  background-color: rgba(149, 125, 175, 0.5);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 1000px;
  padding-top: 5px;
  padding-right: 53px;
  box-shadow: 4px 4px 10px 0px rgba(122, 32, 122, 0.5);

}
.image-row {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 80px;
}
.main-container {
  max-width: 40px;
  margin: auto;
}
.image-row {
  margin-bottom: 20px;
  text-align: center;

}
.name-row {
  margin-bottom: 40px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 900;

}
.social-icons-row {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
} */
